@model IEnumerable<GroupViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    <p>bla bla bbla some info</p>

    <a asp-action="Create" asp-controller="Group" style="text-decoration: none;">
        <img src="~/icons/edit.png" alt="Edit" width="20" height="20" title="Create a new group" /> Add expense
    </a>

    <div class="m-5">
        <span>
            <ul class="float-left d-inline-block m-3 list-group w-25">
                <h4>I lent</h4>
                @foreach (var item in Model)
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.GroupName)</li>
                }
            </ul>

            <ul class="float-right d-inline-block m-3 list-group w-25">
                <h4>I owe</h4>
                @foreach (var item in Model)
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.GroupName)</li>
                }
            </ul>
        </span>
    </div>

</div>
