@model SplitSchmeisser.BLL.Models.ReportRequest
@{
    ViewData["Title"] = "Report";
}

<div class="esh-orders">
    <div class="container">

        <div class="paragraphs">
            <div class="row">
                <div class="span4">
                    <div class="mr-3 float-left">
                        <h1>Report Data</h1>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <h3>From </h3>
                        @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @class = "formcontrol datepicker" })

                    </div>
                    <div class="form-group">
                        <h3>To </h3>
                        @Html.TextBoxFor(model => model.EndDate, new { @type = "date", @class = "formcontrol datepicker" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Generate" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
