@model GroupCreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="esh-orders">
    <div class="container">
        <div>
            <a asp-controller="Home" asp-action="Index" class="content-heading text-muted text-decoration-none text-dark">
                <img src="~/icons/back.png" alt="Back to List" width="20" height="20" /><span class="mt-2">Back To List</span>
            </a>
        </div>

        <div class="paragraphs">
            <div class="row">
                <div class="span4">
                    <div class="mr-3 float-left">
                        <h1>Create Group</h1>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Users" class="control-label"></label>
                        <select asp-for="UserIds" asp-items="Model.Users" multiple class="selectpicker w-100"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>